.slider {
    position: relative;
}

.slider {
 .description{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #2f2f2f82;
    color: #fff;
    padding: 5px 25px;
   p{
     color: #e8e8e8;
     font-size: 14px;

   }
 }
}

.slider-pagination {
    float: right;
    margin: 5px 0;
}

.slider-pagination {
    li{
        display: inline-block;
        margin: 0 4px;
        list-style: none;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 4px;
        cursor: pointer;
    }
}

.slider-pagination {
    li:hover, li.active{
        background-color: #fff;
        box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.788235294117647);
    }
}

.fake-image.slides {
    height: 300px;
  img{
    width: 100%;
    height: 100%;
  }
}

.fake-image.main {
    height: 150px;
}

.hidden{
  display: none;
}
