

    <div class="main-content clear-fix">
        <main class="card">
            <slideshow
              [slider]="slider">
            </slideshow>

            <section class="main-article">
                <article class="col-sm">
                    <div class="fake-image main">Image</div>
                    <h2>Main Article #1</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                    <span class="more-info"> Read More... </span>
                </article>

                <article class="col-sm">
                    <div class="fake-image main">Image</div>
                    <h2>Main Article #2</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                    <span class="more-info"> Read More... </span>
                </article>

                <article class="col-sm">
                    <div class="fake-image main">Image</div>
                    <h2>Main Article #3</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                    <span class="more-info"> Read More... </span>
                </article>

                <article class="col-sm">
                    <div class="fake-image main">Image</div>
                    <h2>Main Article #4</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                    <span class="more-info"> Read More... </span>
                </article>

                <article class="col-sm">
                    <div class="fake-image main">Image</div>
                    <h2>Main Article #5</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                    <span class="more-info"> Read More... </span>
                </article>

                <article class="col-sm">
                    <div class="fake-image main">Image</div>
                    <h2>Main Article #6</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                    <span class="more-info"> Read More... </span>
                </article>
            </section>

        </main>

        <aside class="sidebar">
            <div class="card clear-fix">
                <h3>Search Topics</h3>
                <input class="search" type="text">
                <i class=""></i>
            </div>

            <div class="card clear-fix">
                <h2 class="header">Trending Topics:</h2>
                <article class="side-article">
                    <div class="fake-image sidebar">Image</div>
                    <h3>News #1</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                </article>

                <article class="side-article">
                    <div class="fake-image sidebar">Image</div>
                    <h3>News #2</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                </article>

                <article>
                    <div class="fake-image sidebar">Image</div>
                    <h3>News #3</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                </article>
            </div>

            <div class="card clear-fix">
                <h2 class="header">Activities:</h2>
                <article>
                    <h3>Activities #1</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                </article>

                <article>
                    <h3>Activities #2</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                </article>

                <article>
                    <h3>Activities #3</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                </article>
            </div>
        </aside>
    </div>

    <footer>
        <p> &copy; Company, All Rights Reserved </p>
    </footer>
